<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujian.star.mapper.UserStatusUpdateMapper">

    <update id="updateUserStatus">
        UPDATE  `USER`
        SET `USER_STATUS` = #{1} WHERE `USER_ID` = #{0};
    </update>

    <update id="updateUserCreditScore">
        UPDATE `USER`
        SET `USER_CREDIT_SCORE` = `USER_CREDIT_SCORE` + #{1}
        WHERE `USER_ID` = #{0};
    </update>

    <update id="updateUserLevelScore">
        UPDATE `USER`
        SET `USER_SCORE` = `USER_SCORE` + #{1}
        WHERE `USER_ID` = #{0};
    </update>

    <update id="increaseUserLevel">
        UPDATE `USER`
        SET `USER_LEVEL` = `USER_LEVEL` + 1
        WHERE `USER_ID` = #{0};
    </update>
    
    <select id="getUserCreditSore" parameterType="java.lang.Integer" resultType="java.lang.Double">
        SELECT `USER_CREDIT_SCORE`
        FROM `USER`
        WHERE `USER_ID` = #{user_id};
    </select>

    <select id="getUserLevelScoreNow" parameterType="java.lang.Integer" resultType="java.lang.Double">
        SELECT `USER_SCORE`
        FROM `USER`
        WHERE `USER_ID` = #{user_id};
    </select>

</mapper>